    <footer class="footer">
      <div class="footer_inner">
        <div class="row">
                               
          <address class="vcard">
            <strong>Contact</strong>
            main site: <a class="fn org url" href="{{ author.url }}">{{ author.name }}</a><br>  
            email: <a class="email" href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        
        <div class="row">
          <aside class="social" title="Check our GitHub repositories.">
            Check the source of this site at <a href="{{ author.code_url }}">chevah/styleguide</a> on GitHub. Check our other repositories on <a href="{{ author.github_url }}">GitHub</a>.
          </aside>

          <div class="terms">
            &copy; Chevah Project. Content under Public Domain License.
          </div>
        </div>
        
      </div>
    </footer>
