  <head>
    <title>{{ resource.meta.page_title }} • {{ site_info.name }}</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ media_url('css/chevah.css') }}">
    
    <link rel="shortcut icon" href="{{ media_url('') }}{{ site_info.favicon_png }}" />
    <link rel="shortcut icon" href="{{ media_url('') }}{{ site_info.favicon_ico }}" />

    <meta name="coypright" content="{{ author.name }}" />
    <meta name="revisit-after" content="5 days" />
    <meta name="language" content="en, English" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="nofollow, noindex" />

  </head>