<nav class="subnav" title="subnav">          
  <ul>

    {% for page in pages %}
      {% if (resource.url == page.url) %}
        {% set page_class = "active" %}
      {% else %}
        {% set page_class = "" %}
      {% endif %}
      <li>
        <a class="{{ page_class }}" href="{{ page.url }}">
          {{ page.name }}
        </a>
      </li>
    {% endfor %}

  </ul>
</nav>
