    <footer class="footer">
      <div class="footer_inner">
        <div class="row">
          <address class="vcard">
            <strong>Contact</strong>
            main site: <a class="fn org url" href="{{ CONTACT['url'] }}">{{ AUTHOR }}</a><br>
            email: <a class="email" href="mailto:{{ CONTACT['email'] }}">{{ CONTACT['email'] }}</a>
        </div>
        <div class="row">
          <aside class="social" title="Check our GitHub repositories.">
            Check the source of this site at <a href="{{ LINKS['code'] }}">chevah/styleguide</a>
            on GitHub.
            Check our other repositories on <a href="{{ LINKS['github'] }}">GitHub</a>.
          </aside>

          <div class="terms">
            &copy; Chevah Project. Content under Public Domain License.
          </div>
        </div>
      </div>
    </footer>
