  <head>
    <title>{{ article.title }} • {{ SITENAME }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/theme/css/chevah.css">
    <link rel="stylesheet" href="/theme/css/pygments.css">

    <link rel="shortcut icon" href="/theme/img/favicon.png" />
    <link rel="shortcut icon" href="/theme/img/favicon.ico" />

    <meta name="coypright" content="{{ AUTHOR }}" />
    <meta name="revisit-after" content="5 days" />
    <meta name="language" content="en, English" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="nofollow, noindex" />

  </head>
