    <div class="header">
      <header role="banner">
        <hgroup>
          <h1><a href="/">Chevah</a></h1>
          <h2>StyleGuide&nbsp;Documentation</h2>
        </hgroup>
        <nav role="navigation">
          <ul class="nav">
            <li>
              <a href="http://www.chevah.com">Chevah Project </a>
            </li>
            <li>
              <a class="active" href="http://styleguide.chevah.com">
                Style Guide
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
